.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-bar {
    height: 50px;
    width: 100%;
    background-color: blanchedalmond;
}

.content {
    flex: 1;
    overflow: hidden;
}

.footer-bar {
    height: 30px;
    width: 100%;
    background-color: blanchedalmond;
}