:host {
  display: flex;
  flex-direction: row;
  width: 100%;
}
// :host:hover {
//  background-color: rgb(170, 254, 254);
// }

.action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}