<div class="left-container">

    <mat-form-field>
        <mat-label>Word</mat-label>
        <input matInput type="text" [(ngModel)]="defaultVocabulary.word">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="defaultVocabulary.context.type.value">
            @for (type of types; track $index) {
                <mat-option [value]="type.value">{{type.displayName}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Meaning</mat-label>
        <input matInput type="text" [(ngModel)]="defaultVocabulary.context.meaning">
        <!-- <Textarea matInput  [(ngModel)]="defaultVocabulary.context.meaning"></Textarea> -->
    </mat-form-field>

    <button mat-flat-button (click)="addNewVocabulary(defaultVocabulary)" [disabled]="defaultVocabulary.word === ''">Add new word</button>

</div>
<div style="flex: 1; display: flex; flex-direction: column;">
    <app-search (searchEvent)="search($event)"></app-search>
    <div style="width: calc(100% - 24); height: 100%; overflow: auto; padding: 12px;">
        @for (item of vocabulariesFiltered; track $index) {
            <app-vocabulary-card [vocabulary]="item" (deleteEvent)="removeVocabulary($event)"></app-vocabulary-card>
        }
    </div>
</div>